.history-section__list-item {
    cursor: pointer;
    width: 80%;
    font-family: medium;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;

    text-align: center;
    transition: all 0.3s;
}

.history-section__list-item:hover {
    /* border-bottom: 1px solid var(--focus-border-color); */
    border-left: 2px solid var(--focus-border-color);
    border-right: 2px solid var(--focus-border-color);

}