@import "/stylesheets/history-section/__list/history-section__list.css";
@import "/stylesheets/history-section/__list-item/history-section__list-item.css";


.history-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 500px;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    overflow-y: auto;
}

@media screen and (max-width: 1000px) {
    .history-section {
        width: 270px;
    }
}

@media screen and (max-width: 480px) {
    .history-section {
        height: 150px;
        /* min-height: 150px; */
        /* max-height: 150px; */
    }
}