.history-section__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid var(--border-bottom-color);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: auto;
}